@charset "UTF-8";

/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/

body {
    background-color: rgb(77, 146, 112);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 175, 88);
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 175, 88);
    color: wheat;
}

h2 {
color: rgb(68, 148, 108);
}

.basico {
    color: green;
    font-weight: bold;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: darkorange;
}